In [25]:
import pandas as pd

dataset = pd.read_csv('Sales.csv')
bike_data = pd.DataFrame(dataset)
bike_data

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [27]:
#drop unnecessary columns for better focusing on data
bike_data.drop(['Revenue', 'Age_Group', 'Unit_Cost', 'Unit_Price'], axis=1, inplace=True)
bike_data

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
0,2013-11-26,26,November,2013,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
1,2015-11-26,26,November,2015,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
2,2014-03-23,23,March,2014,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,1366,1035
3,2016-03-23,23,March,2016,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,1188,900
4,2014-05-15,15,May,2014,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,238,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,112,72
113032,2014-04-02,2,April,2014,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528
113033,2016-04-02,2,April,2016,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528
113034,2014-03-04,4,March,2014,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,684,576
113035,2016-03-04,4,March,2016,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,655,552

In [29]:
#Rename column
bike_data.rename(columns = {'Order_Quantity': 'Order'}, inplace=True)

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
0,2013-11-26,26,November,2013,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
1,2015-11-26,26,November,2015,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
2,2014-03-23,23,March,2014,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,1366,1035
3,2016-03-23,23,March,2016,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,1188,900
4,2014-05-15,15,May,2014,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,238,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,112,72
113032,2014-04-02,2,April,2014,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528
113033,2016-04-02,2,April,2016,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528
113034,2014-03-04,4,March,2014,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,684,576
113035,2016-03-04,4,March,2016,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,655,552

In [31]:
#Check data's records
bike_data.isnull()

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,False,False,False,False,False,False,False,False,False,False,False,False,False,False
113032,False,False,False,False,False,False,False,False,False,False,False,False,False,False
113033,False,False,False,False,False,False,False,False,False,False,False,False,False,False
113034,False,False,False,False,False,False,False,False,False,False,False,False,False,False
113035,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
#Save change to csv file
bike_data.to_csv('Out_data')

In [33]:
#What types of products are in the dataset?

bike_data.Product.unique()

array(['Hitch Rack - 4-Bike', 'All-Purpose Bike Stand',
       'Mountain Bottle Cage', 'Water Bottle - 30 oz.',
       'Road Bottle Cage', 'AWC Logo Cap', 'Bike Wash - Dissolver',
       'Fender Set - Mountain', 'Half-Finger Gloves, L',
       'Half-Finger Gloves, M', 'Half-Finger Gloves, S',
       'Sport-100 Helmet, Black', 'Sport-100 Helmet, Red',
       'Sport-100 Helmet, Blue', 'Hydration Pack - 70 oz.',
       'Short-Sleeve Classic Jersey, XL',
       'Short-Sleeve Classic Jersey, L', 'Short-Sleeve Classic Jersey, M',
       'Short-Sleeve Classic Jersey, S', 'Long-Sleeve Logo Jersey, M',
       'Long-Sleeve Logo Jersey, XL', 'Long-Sleeve Logo Jersey, L',
       'Long-Sleeve Logo Jersey, S', 'Mountain-100 Silver, 38',
       'Mountain-100 Silver, 44', 'Mountain-100 Black, 48',
       'Mountain-100 Silver, 48', 'Mountain-100 Black, 38',
       'Mountain-200 Silver, 38', 'Mountain-100 Black, 44',
       'Mountain-100 Silver, 42', 'Mountain-200 Black, 46',
       'Mountain-200 Silver, 42', 'Mountain-200 Silver, 46',
       'Mountain-200 Black, 38', 'Mountain-100 Black, 42',
       'Mountain-200 Black, 42', 'Mountain-400-W Silver, 46',
       'Mountain-500 Silver, 40', 'Mountain-500 Silver, 44',
       'Mountain-500 Black, 48', 'Mountain-500 Black, 40',
       'Mountain-400-W Silver, 42', 'Mountain-500 Silver, 52',
       'Mountain-500 Black, 52', 'Mountain-500 Silver, 42',
       'Mountain-500 Black, 44', 'Mountain-500 Silver, 48',
       'Mountain-400-W Silver, 38', 'Mountain-400-W Silver, 40',
       'Mountain-500 Black, 42', 'Road-150 Red, 48', 'Road-150 Red, 62',
       'Road-750 Black, 48', 'Road-750 Black, 58', 'Road-750 Black, 52',
       'Road-150 Red, 52', 'Road-150 Red, 44', 'Road-150 Red, 56',
       'Road-750 Black, 44', 'Road-350-W Yellow, 40',
       'Road-350-W Yellow, 42', 'Road-250 Black, 44',
       'Road-250 Black, 48', 'Road-350-W Yellow, 48',
       'Road-550-W Yellow, 44', 'Road-550-W Yellow, 38',
       'Road-250 Black, 52', 'Road-550-W Yellow, 48', 'Road-250 Red, 58',
       'Road-250 Black, 58', 'Road-250 Red, 52', 'Road-250 Red, 48',
       'Road-250 Red, 44', 'Road-550-W Yellow, 42',
       'Road-550-W Yellow, 40', 'Road-650 Red, 48', 'Road-650 Red, 60',
       'Road-650 Black, 48', 'Road-350-W Yellow, 44', 'Road-650 Red, 52',
       'Road-650 Black, 44', 'Road-650 Red, 62', 'Road-650 Red, 58',
       'Road-650 Black, 60', 'Road-650 Black, 58', 'Road-650 Black, 52',
       'Road-650 Black, 62', 'Road-650 Red, 44',
       "Women's Mountain Shorts, M", "Women's Mountain Shorts, S",
       "Women's Mountain Shorts, L", 'Racing Socks, L', 'Racing Socks, M',
       'Mountain Tire Tube', 'Touring Tire Tube', 'Patch Kit/8 Patches',
       'HL Mountain Tire', 'LL Mountain Tire', 'Road Tire Tube',
       'LL Road Tire', 'Touring Tire', 'ML Mountain Tire', 'HL Road Tire',
       'ML Road Tire', 'Touring-1000 Yellow, 50', 'Touring-1000 Blue, 46',
       'Touring-1000 Yellow, 60', 'Touring-1000 Blue, 50',
       'Touring-3000 Yellow, 50', 'Touring-3000 Blue, 54',
       'Touring-3000 Blue, 58', 'Touring-3000 Yellow, 44',
       'Touring-3000 Yellow, 54', 'Touring-3000 Blue, 62',
       'Touring-3000 Blue, 44', 'Touring-1000 Blue, 54',
       'Touring-1000 Yellow, 46', 'Touring-1000 Blue, 60',
       'Touring-3000 Yellow, 62', 'Touring-1000 Yellow, 54',
       'Touring-2000 Blue, 54', 'Touring-3000 Blue, 50',
       'Touring-3000 Yellow, 58', 'Touring-2000 Blue, 46',
       'Touring-2000 Blue, 50', 'Touring-2000 Blue, 60',
       'Classic Vest, L', 'Classic Vest, M', 'Classic Vest, S'],
      dtype=object)

In [34]:
len(bike_data.Product.unique())

130

In [35]:
bike_data.Product_Category.value_counts()

Accessories    70120
Bikes          25982
Clothing       16934
Name: Product_Category, dtype: int64

In [36]:
bike_data.Sub_Category.value_counts()

Tires and Tubes      33870
Bottles and Cages    15876
Road Bikes           13430
Helmets              12158
Mountain Bikes        8854
Jerseys               6010
Caps                  4358
Fenders               4032
Touring Bikes         3698
Gloves                2686
Cleaners              1802
Shorts                1794
Hydration Packs       1334
Socks                 1122
Vests                  964
Bike Racks             592
Bike Stands            456
Name: Sub_Category, dtype: int64

In [37]:
#What are the top orders?
bike_data.sort_values('Order', ascending=False).head(5)

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
26099,2015-08-06,6,August,2015,50,M,Canada,British Columbia,Accessories,Fenders,Fender Set - Mountain,32,441,256
29583,2015-11-15,15,November,2015,27,F,Australia,Victoria,Clothing,Gloves,"Half-Finger Gloves, M",32,319,288
16386,2015-07-26,26,July,2015,25,M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,32,75,64
48231,2015-12-28,28,December,2015,42,M,United States,Washington,Clothing,Jerseys,"Short-Sleeve Classic Jersey, M",32,4,1344
81899,2015-09-14,14,September,2015,19,F,United States,Oregon,Accessories,Tires and Tubes,ML Road Tire,32,400,288

In [38]:
#Show orders lower than average
bike_data[(bike_data.Order < bike_data.Order.mean())]

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
0,2013-11-26,26,November,2013,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
1,2015-11-26,26,November,2015,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
4,2014-05-15,15,May,2014,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,238,180
5,2016-05-15,15,May,2016,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,297,225
6,2014-05-22,22,May,2014,47,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,199,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113019,2016-07-30,30,July,2016,33,M,United States,Oregon,Clothing,Vests,"Classic Vest, L",10,310,240
113028,2013-12-28,28,December,2013,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,75,48
113029,2015-12-28,28,December,2015,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,75,48
113030,2014-04-12,12,April,2014,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",6,225,144
113031,2016-04-12,12,April,2016,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,112,72

In [40]:
#Show data depends on gender
#Male

bike_data[bike_data['Customer_Gender'] == 'M']

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
0,2013-11-26,26,November,2013,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
1,2015-11-26,26,November,2015,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,590,360
2,2014-03-23,23,March,2014,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,1366,1035
3,2016-03-23,23,March,2016,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,1188,900
8,2014-02-22,22,February,2014,35,M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,1096,990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113029,2015-12-28,28,December,2015,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,75,48
113030,2014-04-12,12,April,2014,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",6,225,144
113031,2016-04-12,12,April,2016,41,M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,112,72
113032,2014-04-02,2,April,2014,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528
113033,2016-04-02,2,April,2016,18,M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,655,528

In [41]:
#Show data depends on gender
#Female

bike_data[bike_data['Customer_Gender'] == 'F']

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order,Profit,Cost
4,2014-05-15,15,May,2014,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,238,180
5,2016-05-15,15,May,2016,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,297,225
6,2014-05-22,22,May,2014,47,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,199,180
7,2016-05-22,22,May,2016,47,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,100,90
10,2013-07-30,30,July,2013,32,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,398,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113013,2015-09-16,16,September,2015,20,F,United States,Washington,Clothing,Vests,"Classic Vest, M",30,778,720
113014,2013-12-10,10,December,2013,20,F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,207,192
113015,2015-12-10,10,December,2015,20,F,United States,Washington,Clothing,Vests,"Classic Vest, M",6,156,144
113034,2014-03-04,4,March,2014,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,684,576
113035,2016-03-04,4,March,2016,37,F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,655,552